.container_title {
  margin: 0;
  padding: 0;
  background-color: #929292;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.container_search {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_search input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
}

.container_user_list {
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container_user_item {
  width-min: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_user_item_content {
  border: 1px solid #ccc;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.2), 4px 0 15px -3px rgba(0, 0, 0, 0.5);
  width-min: 100px;
  background-color: #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 10px;
}

#user_item_id {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

#user_item_login {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 20px;
}

.container_user_item_image {
  margin-top: 20px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.container_user_item_content_checkbox {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 20px;
}

.input_user_item_checkbox[type='checkbox'] {
  appearance: none;
  border: 4px solid black;
  margin: 20px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input_user_item_checkbox:checked {
  background-color: #00a3ff;
}

.input_user_item_checkbox:checked::after {
  content: '✓';
  color: black;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.user_item_content_link_profile {
  text-decoration: none;
  color: #00a1ff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: #00a1ff;
  color: white;
  margin-bottom: 40px;
}

.user_item_content_link_profile:hover {
  background-color: #0088cc;
}

.container_actions_selected {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 10px;
}

.container_actions_selected_buttons {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  align-items: end;
}

.button_actions_selected_duplicate {
  margin-right: 10px;
}

.icon_actions_selected {
  width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.icon_actions_selected:hover {
  opacity: 1;
}

.container_actions_selected_reste_content {
  display: flex;
  align-items: center;
}

.container_actions_selected_reste_content span {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  margin-right: 3px;
}

.container_actions_selected_reste {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  height: 20px !important;
  width: 20px !important;
  border-radius: 5px;
  cursor: pointer;
}

.container_actions_selected_reste hr {
  border: 2px solid black;
  width: 100%;
}

.background_actions_selected {
  background-color: #00a1ff;
}

.empty_user_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .container_user_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container_user_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
